@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 200 14% 96%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 167 24% 32%;
    --primary-foreground: 0 0% 98%;
    --secondary: 24 92% 91%;
    --secondary-foreground: 167 24% 32%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 12 57% 78%;
    --accent-foreground: 167 24% 32%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 167 24% 32%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-[hsl(var(--border))];
  }
  body {
    @apply bg-background text-[hsl(var(--foreground))];
  }
  html {
    scroll-behavior: smooth;
  }
}